*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red:#E3646E;
    --purple:#BB72E9;
    --blue:#3996DB;
    --green:#82BC4F;
    --yellow:#EABD5F;

    --base-gray-100:#E2E4E9;
    --base-gray-200:#C0C4CE;
    --base-gray-300:#878EA1;
    --base-gray-400:#292C34;
    --base-gray-500:#16181D;
    --base-gray-600:#0D0E11;

    --font-family-1:'Asap', sans-serif;
    --h1:800 56px/120% var(--font-family-1);
    --h2:800 24px/120% var(--font-family-1);
    --h3:800 16px/120% var(--font-family-1);

    --font-family-2:'Inconsolata', sans-serif;
    --subtitle:800 20px/120% var(--font-family-2);

    --font-family-3:'Maven pro', sans-serif;
    --text-md:800 16px/140% var(--font-family-3);
    --text-small:800 14px/140% var(--font-family-3);
}


