header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid{
    display: grid;
    align-content: space-between;
}
.subtitle {
  font: var(--subtitle);
  color: var(--base-gray-200);
  padding-bottom: 8px;
}

.title{
    font: var(--h1);
    color: var(--base-gray-100);
    padding-bottom: 20px;
}

.text-sm {
  font: var(--text-sm);
  color: var(--base-gray-300);
    padding-bottom: 80px;
}

.nome {
  color: var(--red);   
}

.tech {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 14px;
  background-color: #2b2f36;
  border-radius: 999px;

  font-size: 13px;
  color: #d1d5db;
  white-space: nowrap;
}

.tech-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}