div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.subtitle{
    font: var(--subtitle);
    color: var(--base-gray-200);

}

h1{
    font: var(--h1);
    margin-top: 8px;
    margin-bottom: 20px;

}

h6{
    font: var(--text-sm);

}

.nome{
    color: var(--red);
}
